<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="default">

  <info>
    <link type="guide" xref="index#faq"/>
    <desc>Make image viewer the default application for viewing pictures.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.38" version="0.2" date="2020-11-13" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Open pictures in the image viewer by default</title>
<p>If you want to make the image viewer the default program that opens certain image
file types:</p>

<steps>
 <item>
  <p>In <app>Files</app>, right click the file and choose
<gui>Properties</gui>.</p>
 </item>
 <item>
  <p>Go to the <gui>Open With</gui> tab. A list of
<gui>Recommended Applications</gui> will appear. </p>
 </item>
 <item>
  <p>Select the <gui>Image Viewer</gui> and click <gui>Set as
default</gui>.</p>
  <p>If <app>Image Viewer</app> is not on the <gui>Recommended
Applications</gui> list, click <gui>Show other applications</gui>. 
Select <gui>Image Viewer</gui> from the list that appears and click <gui>Set as
default</gui>.</p>
 </item>
 <item>
  <p>Close the dialog.</p>
 </item>
</steps>

<p>In future, when you double-click a file of the same type, it will open up in the image viewer.</p>

</page>

